body{
    background-color: crimson;
    text-align: center;
}
#headmain{
    color: darkturquoise;
    text-shadow: 3px 3px;
}
#avengers{
    width: 1225px;
    height: 550px;
}
#head1{
    color: cyan;
    text-shadow: 2px 2px;
}
#head2{
    color: dodgerblue;
    text-shadow: 2px 2px;
}
#im{
    width: 200px;
    height: 200px;
}
#ca{
   width: 200px;
   height: 200px;
}
#tr{
   width: 200px;
   height: 200px;    
}
#hk{
   width: 200px;
   height: 200px; 
}
#bw{
   width: 200px;
   height: 200px; 
}
#he{
   width: 200px;
   height: 200px; 
}
#cm{
   width: 200px;
   height: 200px; 
}
#af{
   width: 200px;
   height: 200px; 
}
.imgname{
    color: fuchsia;
}
.menu {
    font-family: 'Source Sans Pro', sans-serif;
    position: fixed;
    top: 0px;
    z-index: 10;
    cursor: pointer;
    background: white;
    width: 100%;
    margin-top: 0px;
}

.links {
    color: darkslateblue;
    padding-left: 33px;
    padding-right: 25px;
    font-size: 20px;
    display: inline;
}

.links:hover {
    background-color: cornsilk;
    font-size:25px;
    text-decoration: underline;
}
html{
    scroll-behavior: smooth;
}
#head3{
    color: darkorange;
    text-shadow: 2px 2px;
}
#head4{
    color: darksalmon;
    text-shadow: 2px 2px;
}